[gitreview]
	username = josecastillolema
[user]
	name = Jose Castillo Lema
	email = josecastillolema@gmail.com
[core]
	editor = vim
[pull]
	rebase = true
[alias]
   cleanup = "!git fetch --all --prune; git branch --merged origin/master | grep -v \"\\*\" | grep -v \"\\  master\" | xargs -n 1 git branch -d"
   s = status
   d = diff
   co = checkout
   b = branch
   c = commit
