configuration {
   kb-element-next: "";
   kb-element-prev: "";
   kb-move-char-back: "";
   kb-move-char-forward: "";
   kb-mode-next: "Right,Tab";
   kb-mode-previous: "Left,ISO_Left_Tab";
   kb-cancel: "Escape,Control+g,Control+bracketleft,space";
}
