[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Atmos Agent
Icon=AtmosAgent
Exec=bash -c "systemctl is-active --quiet atmosd.service || pkexec systemctl start atmosd.service && /usr/local/bin/atmos"
StartupWMClass=axis client
Terminal=false
